exportPattern("^[[:alpha:]]+")
export(ca_cyclic)
export(ca_index)
export(ca_total)
export(elementary_multi)
export(wolfram)
export(wolfram_total)
importFrom(Rcpp, evalCpp)
useDynLib(calib, .registration = TRUE)
